<!DOCTYPE html>
<html lang="ua">
  <head>
    <nav>
    <a href="application.html.erb">Регістрація</a>
    <a href="schedule.html.erb">Графік</a>
    <a href="speakers.html.erb">Колонки</a>
    <a href="vеnue.html.erb">Місце</a>
    <a href="home.html.erb">Головна</a>
    </nav>
    <meta charset="utf-8">
    <title>клініка 911</title>
  </head>
  <body id="top">
    <header>
      <h1><a href="http://localhost:3000/">Що ти робиш, хлопче?</a></h1>
      <h3><a href="https://ukr.media/static/ba/aimg/webp/4/3/8/438982_1.webp" target="_blank"> I feel borried </a><h3>
    </header>
    <section>
      <h2><a href="#top">я думаю що в мене все вийде</a></h2>
      <p> Тому що я не хочу так жити </p>
      <a href='application.html.erb'>Якщо теж не хочеш так жити</a>
      <section>
        <h5>Ось така структура має бути</h5>
        <p>section в іншому section</p>
      </section>
    </section>
    <footer>
      <small>&#127756;&#127983;&copy;Думка Артема</small>

      <h1><a href=mailto:art.pavlovsiy@gmail.com?subject=З%20приводу%20проекту>Надіслати мені листа</a></h1>
      <nav>
    <a href='application.html.erb'>Регістрація</a>
    <a href="schedule.html.erb">Графік</a>
    <a href="speakers.html.erb">Колонки</a>
    <a href="vеnue.html.erb">Місце</a>
    <a href="home.html.erb">Головна</a>
    </nav>
    </footer>
  </body>
</html>



